.topmenu{
	position: absolute;
	width: 100%;
	text-align: center;
	height: 100%;

}
.button{
	width: auto;
	position:static;
	display: inline-block;
	padding: 2%;
	color: black;
	font-size: 3vw;
	border-radius: 1vw;
	color: #FFF;
	background-color: #303f9f;	
	cursor: pointer;
	box-shadow: 1% 1% 2% -1% #000;
	transition: background-color 0.8s box-shadow 0.8s ;
}
.button:hover{
	background-color: #666ad1;
	box-shadow: 3px 3px 8px -1px #000;
	transition: background-color 0.8s box-shadow 0.8s ;
}  

.button:active{
	background-color: #001970;
	box-shadow: 2px 2px 1px -1px #000;
	transition: background-color 0.3s box-shadow 0.3s ;
} 

